*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
  color: #333;
}

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* menu base styles */

nav{
  background: #333;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}

nav a:hover{
  background-color: #555;
}

/* social menu base styles */

a.tw{
  background: url(img/tw.png) no-repeat center;
  background-size: 80%;
    
}

a.fb{
  background: url(img/fb.png) no-repeat center;
  background-size: 80%;
}

.social a{
  text-indent: -10000px;
  margin: 0 auto;
}

.social{
  max-width: 80px;
  margin: 0 auto; /* do at end */
}

/* grid vs flex base styles */

#blocks {
  margin: 20px;
}

article {
  background: #fff;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box; /* Makes the padding not add pixels but take space within the box */
}

article h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

/* flex styles */

nav ul.social li{
  flex: 1 1 0;
}

nav ul.social{
  flex: 1 1 0;
  display: flex;
}

@media screen and (min-width: 768px){

nav ul{
  display: flex;
}

nav li{
  flex: 1 1 0;
}
    
nav{
  display: flex;
  justify-content: space-between;
}
  
ul.social{
  margin: 0;
}

/* For screens over 768px we create a grid layout for the articles */

#blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* distributes 4% of the left articles space */
}

article {
  flex: 0 1 32%; /* here we are not growing them (to avoid eating the free space), shrink proportionally and giving 32% of the space */
}

} /* end media 768 */

